.cards__item{
  text-align: center;
  padding: 0px;
  width: 240px;
  list-style: none;
<<<<<<< HEAD
  margin-top: 20px;
=======
  margin-top: 60px;
>>>>>>> 6a4bbb0ff6ec217fbeba8960d116e1d819c5f1e7
}

.cards__item:last-of-type{
  margin-right: 341px;
}
