.header__main-illustration{
  position: absolute;
  bottom: 0;
  right: 0;
<<<<<<< HEAD
  padding: 0px;
=======
>>>>>>> 6a4bbb0ff6ec217fbeba8960d116e1d819c5f1e7
  z-index: 2;
  width: 765px;
  height: 608px;
  background-size: cover;
}
